.soporteSemaforo{
    width: 15px;
    height: 100px;
    background: black;
    border: 1px solid black;

}

.trafficLight{
    width: 110px;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

.light{
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50px;

}
.trafficLight :nth-child(1){
    background-color: red;
}
.trafficLight:nth-child(2){
    background-color: rgb(255, 145, 0);
}
.trafficLight :nth-child(3){
    background-color: rgb(81, 255, 0);
}
.luz{
    box-shadow: 3px 2px 70px 30px rgb(255, 255, 255);

}